<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="registration" action="/v1/registration" method="POST">
        <label for="schoolcode">School Code:</label>
        <input type="text" id="schoolcode" name="schoolcode" required><br><br>
        <label for="schoolname">School Name:</label>
        <input type="text" id="schoolname" name="schoolname" required><br><br>
        <label for="district">District:</label>
        <input type="text" id="district" name="district" required><br><br>
        <label for="block">Block:</label>
        <input type="text" id="block" name="block" required><br><br>
        <label for="email">email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>